.function-section {
  $button_hover_color: #f5edff;
  box-sizing: border-box;
  height: 440px;
  margin: 0 15px 0 25px;
  padding-top: 50px;

  h2, h3 {
    font-family: $text_font_style;
  }

  h2 {
    margin-bottom: 30px;
  }

  div {
    height: 75px;
    min-width: 325px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: $background-grey2;
    border-radius: 20px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 10px;
  }

  h3 {
    position: relative;
    left: 20px;
    font-weight: 600;
  }

  .border {
    background-color: $primary-color;
    height: 25px;
    width: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-right: 2px;
    position: relative;
    right: 12px;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10px;
    width: 20px;
    height: 20px;
  }





  div:hover {
    background-color: $button_hover_color;
    cursor: pointer;

    .icon {
      color: $primary-color;
    }
  }
}