.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;

  svg {
    path:hover {
      fill: url(#hearLinearGradient);
      stroke: transparent;
      animation: fadeInHeart 2s;
    }
  }

  svg {
    fill: white;
    stroke: black;
    width: 100%;
    height: 100%;
  }
}

.restaurant-section .heart {
  margin-right: 0;
}

@keyframes fadeInHeart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}