@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.white {
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-family: "Shrikhand", cursive;
}

.back-arrow-position {
  position: absolute;
  top: 24px;
  left: 30px;
}

.gradiant_button {
  box-sizing: border-box;
  min-height: 50px;
  width: 220px;
  margin: 30px auto 50px;
  padding: 0;
  border-radius: 25px;
  color: white;
  background: rgb(147, 86, 220);
  background: linear-gradient(351deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 79%);
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  cursor: pointer;
}

.location-section {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  padding-right: 16px;
}
.location-section p {
  text-align: center;
  font-size: 14px;
  height: 15px;
  margin: auto 0;
}
.location-section p i {
  position: relative;
  right: 20px;
}

.explore-section {
  height: 285px;
  background-color: #f7f7f7;
  padding-top: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.explore-section p {
  margin: 20px 30px 0;
  font-weight: 300;
  text-align: center;
}

.explore-section__title {
  box-sizing: border-box;
  text-align: center;
  margin: 0 75px;
  font-family: "Roboto", sans-serif;
}

.function-section {
  box-sizing: border-box;
  height: 440px;
  margin: 0 15px 0 25px;
  padding-top: 50px;
}
.function-section h2, .function-section h3 {
  font-family: "Roboto", sans-serif;
}
.function-section h2 {
  margin-bottom: 30px;
}
.function-section div {
  height: 75px;
  min-width: 325px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #f7f7f7;
  border-radius: 20px;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 10px;
}
.function-section h3 {
  position: relative;
  left: 20px;
  font-weight: 600;
}
.function-section .border {
  background-color: #9356DC;
  height: 25px;
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: relative;
  padding: 1px;
  right: 12px;
}
.function-section .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10px;
  width: 20px;
  height: 20px;
}
.function-section div:hover {
  background-color: #f5edff;
  cursor: pointer;
}
.function-section div:hover .icon {
  color: #9356DC;
}

.restaurant-section {
  height: 1230px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  padding: 55px 20px 0;
}
.restaurant-section h2 {
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
}
.restaurant-section .cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurant-section .cards-container article {
  background-color: #fff;
  min-width: 335px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.restaurant-section .cards-container article img {
  height: 175px;
  width: 100%;
  object-fit: cover;
}
.restaurant-section .cards-container article > div {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 0 10px;
}
.restaurant-section .cards-container article > div h3 {
  margin: 0;
}
.restaurant-section .cards-container article h4 {
  margin: 0;
  padding: 5px 20px 0 10px;
  font-weight: 100;
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: fill 1s linear;
}
.heart svg path:hover {
  fill: url(#hearLinearGradient);
  stroke: transparent;
  animation: fadeInHeart 1s;
}
.heart svg {
  fill: white;
  stroke: black;
  width: 100%;
  height: 100%;
}

.restaurant-section .heart {
  margin-right: 0;
}

@keyframes fadeInHeart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.new {
  width: 80px;
  height: 30px;
  box-sizing: border-box;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  right: 12px;
  top: 13px;
  margin: 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-button:link,
.animation-button:visited {
  transition: all 0.2s;
  position: absolute;
}

.animation-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.animation-button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.loading-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 2s cubic-bezier(0, 0.5, 0.5, 1);
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.loading-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-spinner div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgb(147, 86, 220);
  background: linear-gradient(351deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 79%);
  animation: loading-spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) 2;
}

.loading-spinner div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.loading-spinner div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.loading-spinner div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}

@keyframes loading-spinner {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 1;
}

.header__logo {
  height: 30px;
}

main {
  margin-top: 64px;
}

img + main {
  margin-top: 0;
}

.footer {
  background-color: #353535;
  width: 100%;
  height: 200px;
  padding: 25px 25px 0;
  box-sizing: border-box;
}
.footer h2 {
  margin: 0;
  font-size: 18px;
}
.footer ul {
  margin: 20px 0 0 0;
  padding: 0;
  list-style-type: none;
  font-weight: 500;
}
.footer ul li {
  padding-bottom: 10px;
}
.footer i:before {
  width: 15px;
  height: 15px;
}
.footer i {
  padding-right: 10px;
}

@media screen and (min-width: 500px) {
  .footer {
    padding-left: 15%;
  }
}
@media screen and (min-width: 600px) {
  .footer {
    padding-left: 20%;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 0;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}
.menu {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  top: -30px;
  background-color: #f7f7f7;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 30px 15px 0 15px;
  margin-bottom: -30px;
  display: flex;
  flex-direction: column;
}
.menu__image {
  height: 270px;
  width: 100%;
  z-index: 1;
  object-fit: cover;
  margin-top: 64px;
}
.menu header {
  display: flex;
  justify-content: space-between;
}
.menu header h2 {
  margin: 0 0 35px;
}
.menu header i {
  font-size: 20px;
  padding: 2.5px 15px 2.5px 0;
}
.menu > section {
  margin-bottom: 35px;
}
.menu > section h3 {
  margin: 0 0 30px;
  font-weight: 100;
  font-size: 16px;
  position: relative;
}
.menu > section h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-bottom: 10px;
}
.menu > section > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  min-width: 100%;
  min-height: 70px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 2px 5px;
  position: relative;
  top: 100px;
  overflow: hidden;
  animation: slide-top 0.5s ease-out both, fadein 2s both;
  opacity: 0;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.card:nth-child(1) {
  animation-delay: 0.1s;
}
.card:nth-child(2) {
  animation-delay: 0.3s;
}
.card:nth-child(3) {
  animation-delay: 0.5s;
}
.card:nth-child(4) {
  animation-delay: 0.7s;
}
@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}
.card:hover > div:last-of-type {
  width: 60px;
}
.card:hover > div:last-of-type > i {
  transform: rotate(0);
}
.card > div:first-of-type {
  width: 100%;
  padding: 15px 15px 10px 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card > div:first-of-type h4, .card > div:first-of-type p:first-of-type, .card > div:first-of-type p:nth-of-type(2) {
  margin: 0;
}
.card > div:first-of-type p:first-of-type {
  font-weight: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card > div:first-of-type p:first-of-type, .card > div:first-of-type p:nth-of-type(2) {
  font-size: 14px;
}
.card > div:first-of-type p:nth-of-type(2) {
  padding-left: 5px;
}
.card > div:first-of-type > div {
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card > div:last-of-type {
  transition: width 400ms ease-in-out;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  color: white;
  overflow-x: hidden;
}
.card > div:last-of-type > i {
  transform: rotate(360deg);
  display: inline-block;
  transition: transform 500ms ease-in-out;
  font-size: 20px;
}

main {
  max-width: 992px;
  margin: 0 auto 0;
}

/*# sourceMappingURL=style.css.map */
