@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

$titles_font_style : 'Shrikhand', cursive;
$text_font_style: 'Roboto', sans-serif;


.white {
  color: white;
}

body {
  font-family: $text_font_style;
}

h1, h2 {
  font-family: $titles_font_style;
}
